absl-py
astunparse
backcall
backports.functools-lru-cache
beautifulsoup4
cachetools
certifi
charset-normalizer
click
colorama
cycler
Cython
debugpy
decorator
entrypoints
filelock
flatbuffers
fonttools
gast
gdown
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
h5py
idna
imageio
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pickleshare
Pillow
pip
prompt-toolkit
protobuf
psutil
pyasn1
pyasn1-modules
pycocotools
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyWavelets
pyzmq
requests
requests-oauthlib
rsa
scikit-image
scipy
setuptools
six
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
termcolor
tifffile
tornado
tqdm
traitlets
typeguard
typing-extensions
urllib3
wcwidth
Werkzeug
wheel
wincertstore
wrapt
zipp
